@import "~bootstrap/dist/css/bootstrap.min.css";

#excuseDiv {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
}

h1 {
  font-family: inherit;
  font-size: 4rem;
}

h2 {
  font-family: "Raleway", sans-serif;
  margin-top: 1rem;
}
